@import "./mixin";
@import './variable';
@import "./base";     

.content {
  margin-left: 10%;
}
.left {
  width: 30%;
  float: left;
}
.right {
  padding-top: 30px;
}

#formula {
  display: block;
  width: 40%;
  height: 100px;
}

#submit {
  margin-top: 20px;
  width: 60px;
  height: 30px;
}